//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 20 14:00:10 2018
//! **************************************************************************

SCHEMATIC START;
COMP "ledr<0>" LOCATE = SITE "T22" LEVEL 1;
COMP "ledr<1>" LOCATE = SITE "T21" LEVEL 1;
COMP "ledr<2>" LOCATE = SITE "U22" LEVEL 1;
COMP "ledr<3>" LOCATE = SITE "U21" LEVEL 1;
COMP "ledr<4>" LOCATE = SITE "V22" LEVEL 1;
COMP "ledr<5>" LOCATE = SITE "W22" LEVEL 1;
COMP "txd_obs" LOCATE = SITE "W12" LEVEL 1;
COMP "ledr<6>" LOCATE = SITE "U19" LEVEL 1;
COMP "ledr<7>" LOCATE = SITE "U14" LEVEL 1;
COMP "wren_obs" LOCATE = SITE "W8" LEVEL 1;
COMP "sw<0>" LOCATE = SITE "F22" LEVEL 1;
COMP "sw<1>" LOCATE = SITE "G22" LEVEL 1;
COMP "sw<2>" LOCATE = SITE "H22" LEVEL 1;
COMP "sw<3>" LOCATE = SITE "F21" LEVEL 1;
COMP "sw<4>" LOCATE = SITE "H19" LEVEL 1;
COMP "sw<5>" LOCATE = SITE "H18" LEVEL 1;
COMP "sw<6>" LOCATE = SITE "H17" LEVEL 1;
COMP "sw<7>" LOCATE = SITE "M15" LEVEL 1;
COMP "txd_out" LOCATE = SITE "W11" LEVEL 1;
COMP "Clk" LOCATE = SITE "Y9" LEVEL 1;
COMP "rxd" LOCATE = SITE "V10" LEVEL 1;
COMP "rst" LOCATE = SITE "P16" LEVEL 1;
SCHEMATIC END;

